/* 名称：自定义全局字体，修正乱码和网页错位㊣ */
/*微软雅黑字体*/
/* main*/*:not([class*="ico"]):not(i){font-family:"Microsoft YaHei","Verdana" !important;}

/*网站乱码修复*/
/* taobao.com */dl>dt>span.lala , .iconfont>em , p.font-face , a.new-todo-item , a.setting-item , a.calender-book-item , span.prev-btn , span.next-btn{font-family: "shop-iconfont","global-iconfont","mticonfont","marketicon" !important;}
/* ju.taobao.com */.ju-groupbar>.backtop>a:nth-child(n) , .mod-filter>.search>form:nth-child(n)>button:nth-child(n) , .cat-menu-h>p.ju-icon-juhuasuan>a:nth-child(n) , tbody>tr.h2:nth-child(n)>td:nth-child(n)>p:nth-child(n) , .feedback>.J_feedback>span:nth-child(n) , .ju-groupbar>.mbclientli>a.mbclient , h1.logo>.ju-logo>div[class^="ju-icon-"]{font-family:"ju-font" !important;}
/* github.com */span.diffstat-bar,span.diff-added{font-family:"octicons" !important;}
/* etao.com */.s-btn-container>input{font-family:"globalheader" !important;}
/* alimama.com */a.data-send , i.current , .item-second>i , span.dialog-ext-close-x , #mxevt-0>i , #mxevt-1>i , .item-first>i{font-family:"uxiconfont" !important;}
/* 3c/chaoshi.tmall.com */.tm-focus-banner>dd>.logoIcon , .tab-pannel-combos>.tab-nav-groups>.trigger-prev , .tab-pannel-combos>.tab-nav-groups>.trigger-next , .tm-pay-box>.tm-pay>#J_Toggler , .tm-shopPromo-panel>a.more>s , .gray>h3>s , a:nth-child(n)>div:nth-child(n)>button:nth-child(n) , .tm-chaoshi-slide .trigger-next , .tm-chaoshi-slide .trigger-prev , li>a>s:nth-child(n) , li.j_Li>h3>s , a.mui-mbarp-prof-priv , .c-page span , .c3-item-shrh>ins , span.zoomIcon , div.mui-mbar-tab-logo.mui-mbar-tab-logo-qrcode , span.phone , span.arrow , .c>span , .row3 .row-title .c-slogo span , ins.c-rmb , .c-pairprice ins , li.tb-serPromise-item>a>s , .c3-item-sfby>ins , .c3-item-wythh>ins , .c3-item-qglb>ins{font-family: "iconfont-detail","tmall3c","iconfont_qr","iconfont","mbar-font","iconfont-chaoshi","tm-detail-font" !important;}
/* detail.tmall.com */.tb-booth>.tm-video-stop>b , .tb-booth>.tm-video-stop>s , DIV.hd>a.more.unmore>s , .tm-shopPromotion-title>a.more>s , .tb-amount-widget>.mui-amount-btn>SPAN[class^="mui-amount-"] , #J_TabBar>.tm-shop-list>.tm-shop-list-new{font-family:"tm-detail-font" !important;}
/* s.taobao.com *//* D */.grid-view .item .g_price{letter-spacing: normal !important;}
/* tudou.com *//* L */div[class*=Slide]>.btn>b{font-family:"tuiicon" !important;}
/* weibo.com *//* L */div>.W_swficon>em[class^=spac]{font-family:"WBswficon" !important;}

/*淡蓝色边框*/
input:focus,textarea:focus,select:focus{
border:2px #3297FD solid !important;
border-color:#3297FD !important;
border-radius: 5px !important;
box-shadow:1px0px5px #3297FD !important;}

/*链接过渡*/
a{-o-transition: all 0.3s ease-out;}
a:hover{
color:blue !important;
text-shadow:-5px 3px 18px #F90 !important;
-o-transition:all 0.2s ease-out;}

/*链接新标签打开提示*/
a[target="_blank"]:hover{
color:red !important;
text-shadow:-5px 3px 18px #F90 !important;
-o-transform:scale(1.05);
-o-transition:all 0.2s ease-out;}

/*图片过渡*/
img{-o-transition:all 0.3s ease-out;}
img:hover{
-o-transform:scale(1.05);
-o-transition:all 0.3s ease-out;}

/*带链接图片指向紫光*/
a[target="_blank"]>img:hover{
box-shadow: 0px 0px 4px 4px rgba(148,0,211,0.6) !important;
-o-transition-property: box-shadow;
-o-transition-duration: .31s;}

/*去除下划线*/
a>em,a{text-decoration: none !important;}

/* 访问过链接 */
a:visited {color:#800080 !important; opacity:0.6 !important;}
a:visited:hover {color:hotpink !important; opacity:1.0 !important;}

/*清除网页干扰码*/
body{-o-user-select:element !important;}
font.jammer {display: none !important}
font[style*="font-size: 0px;"] {display: none !important}

/*去广告*/
/*Google*/
.adsbygoogle,#tads,#bottomads {display: none !important}

/*360搜索*/
#so_kw-ad {display: none !important}

/*百度*/
#adCard,table#relEcom,#adsearch,#siderAdAfterPicInfo,div[id^="relecom"] {display: none !important}

/*百度知道*/
div.wgt-bottom-ask,div.wgt-xiaozhi,div.cms-slide,.wgt-ads,.widget-ads {display: none !important}

/*百度贴吧*/
#pb_adbanner,#aside_ad,div.guidance_fc,[id^="BAIDU_CLB_AD_"],#thread_list>li[data-daid],#j_p_postlist>div[data-daid],div.forum_header>div[data-daid] {display: none !important}

/*百度百科*/
body#view>div#topToolbar {display: none !important}

/*百度经验*/
.aside-ads-container,.bottom-ads-container {display: none !important}

/*百度音乐*/
.ecomad-banner-loading,.pause-ad {display: none !important}

/*百度网盘*/
div#activateGuidePopupOuter {display: none !important}

/*优酷*/
div.sk_banner,div.yk-skin,[class^="yk-AD-"] {display: none !important}

/*乐视*/
.Ad,.ad_pop,.J-odeum,[id^="JS_H_ad_"],div[id^="a_column_banner_"] {display: none !important}

/*爱奇艺*/
#adflash,#leftad,.ad-wrapper,[class^="adWrapper-"],div#qiyi_flash_install,.rightAdv,[id^="right_ad_"],div[id^="1000000000"] {display: none !important}

/*搜狐视频*/
[class$="noads"],[class^="adv_"],a.us_left.abs,a.us_right.abs {display: none !important}

/*华数TV*/
.special_ad,[class^="play_ads"],.item_lsit_ad,.movie_ad {display: none !important}

/*网易视频*/
div#v_shapeLeft_divId,div#v_shapeRight_divId {display: none !important}

/*凤凰视频*/
.topAd,.adArea,#footAD_box,.adbest,[class^="ad3"],[id^="couplet3_"] {display: none !important}

/*腾讯视频*/
.mod_ad,.pop_ads_wide,.action_ad,.mod_ads,div.mod_float_box {display: none !important}

/*风行网*/
#network-mobile,.Ad,[class^="fs14_"],[id^="adBox"] {display: none !important}
body.adv-browser>div.Tv-rest+div.Prevue-video {display: none !important}

/*1905电影网*/
div#carousel_banner,div.eventLink_pageBackground {display: none !important}

/*大成网*/
.sider_ad,iframe#commentIframe,.l_qq_com,[id^="ad_"],.Top-Ad,.tl_ad,.ad-h55,div.mod-right.adbutton-Aritcle-QQ,[class^="ad-box"] {display: none !important}

/*精睿安全*/
div.a_pb,#wechat_float_qrcode {display: none !important}

/*机锋论坛*/
div.wpp,.gyyad {display: none !important}
div.boardnav>div#ct>div.mn>div.bmw.flg {display: none !important}

/*小众软件*/
.ads {display: none !important}

/*卡饭论坛*/
div.comeing_show_box,div.a_pt {display: none !important}

/*sourceforge*/
aside.jobs-widget {display: none !important}

/*凤凰网*/
.adcontent,#picAdposition,.block_ad,.tuiguang,div.cultureService,#final_head_ad,div[id^="nytw"],[class^="adR0"],[class^="adList"],[class^="adbox"],[class^="ad0"],[class^="ad9"] {display: none !important}

/*新浪网*/
.adNone {display: none !important}

/*搜狐*/
.full-ad {display: none !important}

/*网易*/
.ad-main,div#js-epSpRecommend {display: none !important}

/*MSN中国*/
.ad,.topAd,.bottomAd {display: none !important}

/*博闻网*/
[id^="div-gpt-ad-"] {display: none !important}

/*游民星空*/
div#bgAdWrapClose,div.gpzl {display: none !important}

/*17173*/
.ad-con,[class^="ad-pn"],[class^="ad-sy-"] {display: none !important}

/*迅雷快传*/
[class^="adv_"] {display: none !important}

/*新浪爱问*/
[class^="ad_"] {display: none !important}

/*微奇生活*/
div#middle>div#sidebar>div[style^="height"] {display: none !important}
div#middle>div#sidebar>div#float {display: none !important}

/*天府社区*/
[class$="head-ad"],[id^="diy_adv"] {display: none !important}

/*猛犸家园*/
#sitefocus,#wx_contarner {display: none !important}

/*仿真论坛*/
.diy-ad {display: none !important}

/*小木虫论坛*/
.adtable,.adclass {display: none !important}

/*中金在线*/
div.Banner.Cf {display: none !important}

/*linux公社*/
div[class^="linux90"]

/*几分钟*/
div.quan_gongao,div.regis_tip {display: none !important}
